.resetButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    transform: rotate(90deg);
    border-radius: 100px;
    height: 80px;
    width: 80px;
    z-index: 10; /* Asegura que esté por encima de otros elementos */
}

.resetButton > p {
    margin: 0px;
    padding: 0px;
    background-color: white;
}